.articles
  .articles__items
    %article.articles__item
      .articles__item-image-container
        = image_tag('articles/thumbnail-1.jpg', class: "articles__item-image")
        %time.articles__item-crerated-at 2015/12/31
      .articles__item-title それは黄金の昼下がり気ままにただようぼくらオールは二本ともあぶなげに
    %article.articles__item
      .articles__item-image-container
        = image_tag('articles/thumbnail-2.jpg', class: "articles__item-image")
        %time.articles__item-crerated-at 2015/12/22
      .articles__item-title それは黄金の昼下がり気ままにただようぼくらオールは二本ともあぶなげに
    %article.articles__item
      .articles__item-image-container
        = image_tag('articles/thumbnail-3.jpg', class: "articles__item-image")
        %time.articles__item-crerated-at 2015/12/04
      .articles__item-title それは黄金の昼下がり気ままにただようぼくらオールは二本ともあぶなげに
    %article.articles__item
      .articles__item-image-container
        = image_tag('articles/thumbnail-4.jpg', class: "articles__item-image")
        %time.articles__item-crerated-at 2015/11/27
      .articles__item-title それは黄金の昼下がり気ままにただようぼくらオールは二本ともあぶなげに
    %article.articles__item
      .articles__item-image-container
        = image_tag('articles/thumbnail-5.jpg', class: "articles__item-image")
        %time.articles__item-crerated-at 2015/11/13
      .articles__item-title それは黄金の昼下がり気ままにただようぼくらオールは二本ともあぶなげに
    %article.articles__item
      .articles__item-image-container
        = image_tag('articles/thumbnail-6.jpg', class: "articles__item-image")
        %time.articles__item-crerated-at 2015/11/02
      .articles__item-title それは黄金の昼下がり気ままにただようぼくらオールは二本ともあぶなげに
