%nav.global-nav
  .container
    %ul.global-nav__items
      %li.global-nav__item<>
        = link_to "リンク", "#", class: "global-nav__item-link"
      %li.global-nav__item<>
        = link_to "リンク", "#", class: "global-nav__item-link"
      %li.global-nav__item<>
        = link_to "リンク", "#", class: "global-nav__item-link"
      %li.global-nav__item<>
        = link_to "リンク", "#", class: "global-nav__item-link"
      %li.global-nav__item<>
        = link_to "リンク", "#", class: "global-nav__item-link"
